
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #000;

    --dark-bg: #161B1C;
    --dark-fileds: #212527; 

    --gray-100: #8A8A8A;
    --gray-500: #383838;

    --red-btn: #EF243A;
    --green-btn: #3FFFA3;
    --yellow-btn:#FFBE3F;
    --dark-orange: #FF8C00;
    --orange-900: #EF9224

}

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}



body{
    background: var(--dark-bg);
}

body, input, textarea, select, button{
    font: 400 1rem sans-serif; //16px
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;  //14px
    }

}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;  //15px
    }

}